body{
    text-align: center;
    margin-top: 10%;
}
h3{
    padding-right: 10%;

}
h1{
    padding-bottom: 5%;
}
input{
    padding-right: 10%;
    width: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
}